Repository hasktorch/hasktorch, pull requests merged in 2019-10, with the labels that each got.

#193 Transformer Language Model! Part Deux
  examples/static-transformer/Main.hs
  hasktorch/src/Torch/Static.hs
  hasktorch/src/Torch/Static/Factories.hs
  hasktorch/src/Torch/Static/Native.hs
  hasktorch/test/doctests.hs
Labels: 0.2 examples & docs, 0.2 gpu / scalability

#200 Merge static typed Parameter
  examples/static-mnist/Main.hs
  examples/static-transformer/Main.hs
  examples/static-xor-mlp/Main.hs
  hasktorch/hasktorch.cabal
  hasktorch/src/Torch/Static/NN.hs
Labels: 0.2 typed dimensions

#201 mnist-mlp, mnist-cnn, and transformer refinements
  examples/examples.cabal
  examples/static-cnn/Main.hs
  examples/static-mnist-cnn/Main.hs
  examples/static-mnist-mlp/Main.hs
  examples/static-mnist/Image.hs
  examples/static-transformer/Main.hs
  hasktorch/src/Torch/NN.hs
  hasktorch/src/Torch/Static.hs
  hasktorch/src/Torch/Static/NN.hs
  hasktorch/src/Torch/Static/Native.hs
Labels: 0.2 examples & docs, 0.2 typed dimensions

#211 Add toType and fast image-loader
  examples/examples.cabal
  examples/static-mnist/Image.hs
  examples/test/ImageSpec.hs
  examples/test/Spec.hs
  examples/test/data/mnist-sample-images-idx3-ubyte.gz
  examples/test/data/mnist-sample-labels-idx1-ubyte.gz
  hasktorch/src/Torch/Static.hs
  hasktorch/src/Torch/Tensor.hs
  hasktorch/test/TensorSpec.hs
Labels: 0.2 examples & docs
